/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of css reset */



* {
    box-sizing: border-box;
}

body {
	background-color: black;
	color: rgba(255, 255, 255, 0.712);
	font-family: 'Poppins', sans-serif;;
}

html {
    font-size: 16px;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

/* nav menu - open */
.nav {
    background-color: antiquewhite;
	position: absolute;
	/* moves navbar on top of hamburger icon */
	z-index: 1000;
	top: 0;
	left: 0;
	width: 300px;
	/* full height of viewport */
	height: 100vh;
	background: #2e3140;
	/* slide in animation left to right */
	transform: translateX(-100%);
	/* slide-in animation of the nav menu */
	transition: transform .3s ease-in;
	padding: 3rem 3rem;
}

.nav:target {
	/* triggers nav menu open animation */
	transform: translateX(0);
}

.nav a {
	color: rgba(255, 255, 255, 0.712);
}

.nav li {
	margin-bottom: 1rem;
}

.nav-item {
	text-decoration: none;
}

/* x icon to close nav menu */
.close {
	position: absolute;
	top: 25px;
	right: 30px;
	font-size: 1.25rem;
}

.logo {
	width: 150px;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #2e3140;
	padding: 10px;
}

.hamburger, .call {
	font-size: 1.25rem;
	color: #d9a340;
}

/* styles testimonial cards */
.cards-grid {
	display: grid;
	grid-template-columns: 1;
	grid-gap: 20px;
	margin-bottom: 30px;
	width: 100%;
}

/* styles individual cards */
.cards {
	width: 80%;
	max-width: 300px;
	margin: auto;
	padding: 15px;
	font-size: small;
	line-height: 1.25em;
	background-color: #2e3140;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.pfp {
	height: 75px;
}


.reviewers {
	margin-top: auto;
	grid-column: 1 / span 2;
}

/* footer styling */
footer {
	border-top: 1px solid rgba(255, 255, 255, 0.356);
}

.contact-info {
	text-align: center;
	line-height: 1.5rem;
	margin-bottom: 1rem;
}

.contact-info h4 {
	font-size: 1rem;
}

.contact-info li {
	font-size: .75rem;
}

/* yellow part of footer */
.footbar {
	background-color: #d9a340;
	text-align: center;
	padding: 1rem;
}

.copy {
	font-size: .5rem;
	color: black;
	margin-bottom: 1rem;
}

.socials {
	font-size: 1.5rem;
	display: flex;
	width: 70%;
	max-width: 300px;
	margin: auto;
	justify-content: space-between;
}

.socials a {
	color: black;
}

.skiplinks {
	background-color: #d9a340;
	color: #2e3140;
	/* button stays in the same position always */
	position: fixed;
	bottom: 125px;
	right: 20px;
	border-radius: 50%;
	padding: 5px;
	/* ensure button is not overlapped by anything */
	z-index: 99;
}

.btn {
	background-color: #d9a340;
	padding: .7rem;
	text-decoration: none;
	margin-bottom: 30px;
	text-align: center;
	display: inline-block;
	color: #2e3140;
}

.btn-bg {
	width: 100%;
	margin: auto;
	text-align: center;
	
}